.text-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: block !important;
}

.remove-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}


.custom-scrollbar {

  &::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px !important;
  }

}

body[data-theme='light'] {

  .custom-scrollbar {

    &::-webkit-scrollbar-thumb {
      background: #475569 !important;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #334155 !important;
    }

  }

}

body[data-theme='dark'] {

  .custom-scrollbar {

    &::-webkit-scrollbar-thumb {
      background: #e2e8f0 !important;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #e2e8f0 !important;
    }

  }

}