// other
.remove-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

.text-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: block !important;
}

// react-fullscreen
.fullscreen {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

// react-simplebar
body[data-theme="dark"] {
  .simplebar-scrollbar::before {
    background: #f1f5f9 !important;
  }
}

body[data-theme="light"] {
  .simplebar-scrollbar::before {
    background: #1e293b !important;
  }
}

// react-emoji
body[data-theme="light"] {
  .sc-beyTiQ {
    background: #f8fafc !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
  }
}

body[data-theme="dark"] {
  .sc-beyTiQ {
    background: #334155 !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)) !important;
  }
}

.sc-beyTiQ {
  border-radius: 8px !important;
  padding: 16px !important;
}

.sc-dmyDmy {
  margin: 0 !important;
  padding: 0 !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.sc-eDLKEg {
  font-size: 24px!important;
  padding: 0 !important;
  margin: 0 !important;
}

.sc-hLQTFJ {
  p {
    display: none !important;
    margin: 0 !important;
  }
}

// react-lazy-load
.LazyLoad {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0 !important;
  transition: all ease-in-out 0.3s !important;

  &.is-visible {
    opacity: 1 !important;
  }
}